<div class="jumbotron jumbotron-front-page">
  <div class="container">
    <h1>Where Should I Go Next?</h1>
    <p>Inspiring snippets from exotic travel destinations from around the world.</p>
    <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more</a></p>    
  </div>
</div>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>

</div>