
/*Logo*/

.logo img {	
	transition: all 0.5s ease;
	-webkit-filter-transition: all 0.5s ease;
	-moz-filter-transition: all 0.5s ease;  
	-o-filter-transition: all 0.5s ease;
	-ms-filter-transition: all 0.5s ease;  
}

.logo img:hover {
	filter: opacity(70%);
	-webkit-filter: opacity(70%);
	-moz-filter: opacity(70%);
	-o-filter: opacity(70%);
	-ms-filter: opacity(70%);
}

/*Components Button*/

.btn {
	transition: all 0.5s ease;
	-webkit-filter-transition: all 0.5s ease;
	-moz-filter-transition: all 0.5s ease;  
	-o-filter-transition: all 0.5s ease;
	-ms-filter-transition: all 0.5s ease;
}

/*Navigation*/

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0; 
	border: 1px solid transparent;
	font-size: 16px;
}

.navbar-brand {
	float: left;
	padding: 0 15px;
	font-size: 18px;
	line-height: 25px;
	height: 50px;
}
/*Shifting the nav elements down begin*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: -15px;
	margin-top: 5px;
}

.navbar-left {
	float: left !important;
	margin-top: 7px;
}
/*Shifting the nav elements down end*/


.navbar-default {
	background-color: #f8f8f8;
	border: 0;
	padding: 10px;
}

#log_in_area {
	padding: 15px 0;
}

.form-custom {
	max-width: 500px;
	margin: 10% auto;
}

.gravatar {
	width: 30px;
	display: inline-block;
}

/*Main page*/

.jumbotron-front-page {
	text-align: center !important;	
	padding: 260px;
	color: white;
	background-image: url('background-mountaint-sunset.jpg');
	background-repeat: none;
	background-position: top center;
	background-size: cover;
}

.jumbotron-front-page h1 {
	font-weight: 900px;
	font-size: 84px;
	text-shadow: 0 2px rgba(255, 255, 255, 0.6);			
}

.jumbotron-front-page	p {
	font-size: 32px;		
}

#about {
	text-align: center;
	margin: 30px 0;
	h2 {
		line-height: 3em;
		margin-bottom: 0.5em;
	}
}

.third {
	height: 200px;
	padding: 15px;
	margin-top: 60px;
	img {
		height: 100%;
		transition: all .3s ease;
	}
	img:hover {
		height: 105%;
	}
}

.marketing {
	margin-bottom: 20px;
	text-align: center;
	h1 {
		font-size: 54px;
	}
	p {
		font-size: 20px;
	}
}	

.round {
	padding: 25px;
}

/*Places index*/

.places-index-img {
	padding: 10px;
	img {
		width: 300px;
		height: 300px;
		border-radius: 50%;
	}
}

/*.horizontal-list {
	width: 100%;
	padding: 5% 10%;
	text-align: center;
	margin: 0 auto;
}*/

/*Footer*/

footer {
	padding: 35px auto;
	margin-bottom: 35px;
	font-size: 16px;
}
