
/*Logo*/

.logo img {	
  transition: all 0.5s ease;
  -webkit-filter-transition: all 0.5s ease;
  -moz-filter-transition: all 0.5s ease;  
  -o-filter-transition: all 0.5s ease;
  -ms-filter-transition: all 0.5s ease;  
}

.logo img:hover {
	filter: opacity(70%);
	-webkit-filter: opacity(70%);
	-moz-filter: opacity(70%);
	-o-filter: opacity(70%);
	-ms-filter: opacity(70%);
}

/*Components Button*/

.btn {
  transition: all 0.5s ease;
  -webkit-filter-transition: all 0.5s ease;
  -moz-filter-transition: all 0.5s ease;  
  -o-filter-transition: all 0.5s ease;
  -ms-filter-transition: all 0.5s ease;
}

/*Navigation*/

.navbar {
	position: relative;
	min-height: 50px;
 	margin-bottom: 0; 
	border: 1px solid transparent;
}

.navbar-brand {
	float: left;
	padding: 0 15px;
	font-size: 18px;
	line-height: 25px;
	height: 50px;
}

.navbar-default {
	background-color: #f8f8f8;
	border: 0;
	padding: 10px;
}

#log_in_area {
	padding: 15px 0;
}

.form-custom {
	max-width: 500px;
	margin: 10% auto;
}

/*Main page*/

.jumbotron-front-page {
	padding: 260px;
	background-image: url('background-mountain.jpg');
	background-repeat: none;
	background-position: top center;
	background-size: cover;
}

.jumbotron-front-page h1 {
	color: #ffffff;
	font-weight: 900px;
  text-shadow: 0 2px rgba(255, 255, 255, 0.1);			
}




