
/*Logo*/

.logo img {	
	transition: all 0.5s ease;
	-webkit-filter-transition: all 0.5s ease;
	-moz-filter-transition: all 0.5s ease;  
	-o-filter-transition: all 0.5s ease;
	-ms-filter-transition: all 0.5s ease;  
}

.logo img:hover {
	filter: opacity(70%);
	-webkit-filter: opacity(70%);
	-moz-filter: opacity(70%);
	-o-filter: opacity(70%);
	-ms-filter: opacity(70%);
}

/*Components Button*/

.btn {
	transition: all 0.5s ease;
	-webkit-filter-transition: all 0.5s ease;
	-moz-filter-transition: all 0.5s ease;  
	-o-filter-transition: all 0.5s ease;
	-ms-filter-transition: all 0.5s ease;
}

/*Navigation*/

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0; 
	border: 1px solid transparent;
	font-size: 16px;
}

.navbar-brand {
	float: left;
	padding: 0 15px;
	font-size: 18px;
	line-height: 25px;
	height: 50px;
}
/*Shifting the nav elements down begin*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: -15px;
	margin-top: 5px;
}

.navbar-left {
	float: left !important;
	margin-top: 7px;
}
/*Shifting the nav elements down end*/


.navbar-default {
	background-color: #f8f8f8;
	border: 0;
	padding: 10px;
}

#log_in_area {
	padding: 15px 0;
}

.form-custom {
	max-width: 500px;
	margin: 10% auto;
}

.gravatar {
	width: 30px;
	display: inline-block;
}

@media (max-width: 1233px) {
	.gravatar-responsive {
		display: none;
	}
	.gravatar {
		width: 30px;
		display: inline-block;
		margin: 0 20px;
	}	
}

/*Main page*/

.jumbotron-front-page {
	text-align: center !important;	
	padding: 260px;
	color: white;
	background-image: url('background-mountaint-sunset.jpg');
	background-repeat: none;
	background-position: top center;
	background-size: cover;
}

.jumbotron-front-page h1 {
	font-weight: 900px;
	font-size: 84px;
	text-shadow: 0 2px rgba(255, 255, 255, 0.6);			
}

.jumbotron-front-page	p {
	font-size: 32px;		
}

#about {
	text-align: center;
	margin: 30px 0;
	h2 {
		line-height: 3em;
		margin-bottom: 0.5em;
	}
}

.third {
	height: 200px;
	padding: 15px;
	margin-top: 25px;
	img {
		height: 100%;
		transition: all .3s ease;
	}
	img:hover {
		height: 105%;
	}
}

.marketing {
	margin-bottom: 20px;
	text-align: center;
	h1 {
		font-size: 54px;
	}
	p {
		font-size: 20px;
	}
}	

.round {
	padding: 25px;
}

.yelp_icon {
	border-radius: 50%;
}

.yelp_each {
	margin: 45px 0;
}

/*Places index*/

.places-index-img {
	padding: 10px;
	img {
		width: 300px;
		height: 300px;
		border-radius: 50%;
	}
}

.button-fix {
	padding: 25px 25px;
	text-align: right;
}

/*Each show*/

.show-heading {
	margin-top: 30px;
	h1 {
		font-size: 72px;
		font-weight: 900;
		font-style: italic;
		letter-spacing: -0.05em;
		line-height: 1.5em;
		color: black;
	}
}

.photo-wrapper {
	height: 2000px;
	overflow: hidden;
	margin: 25px 0 60px;
}

.photos {
	/* Prevent vertical gaps */
	line-height: 0;
	display: inline-block;
	width: 100%;
	-webkit-column-count: 3;
	-webkit-column-gap:   0px;
	-moz-column-count:    3;
	-moz-column-gap:      0px;
	column-count:         3;
	column-gap:           0px;
	img {
		width: 400px;
		text-align: left;
		padding-right: 20px;
		padding-bottom: 10px;
	}
}


/*Footer*/

footer {
	padding: 35px auto;
	margin-bottom: 35px;
	font-size: 16px;
}

/*CSS Overlay Hover Effect */

.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}
