
<%= link_to 'Add activities', new_activity_path %>


<p>
<% @activity.each do |activity|  %>

<%= link_to activity.attraction_name, activity  %>

<%= link_to 'Edit', edit_activity_path(activity) %>



<% end %>
</p>

