<% if user_signed_in? && current_user.admin? %>
<div>
<%= link_to 'Add Region', new_region_path %>
</div>
<% end %>

<ul>
<% @regions.each do |region| %>	
		<li>
		<%= link_to region.name, region %>

		<% if user_signed_in? && current_user.admin? %>
			<%= link_to 'Edit', edit_region_path(region) %>
			<%= link_to 'Destroy', region, method: :delete %>
		<% end %>
		</li>
<% end %>
</ul>