<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h1>Regions<span class="glyphicon glyphicon-map-marker" style="color:#1abc9c"></span></h1>
		</div>
		<% if user_signed_in? && current_user.admin? %>
		<div class="col-lg-4-offset button-fix">
			<%= link_to 'Add Region', new_region_path, class: "btn btn-success" %>
		</div>
		<% end %>
	<hr>

		<div class="row">

				<% @regions.each do |region| %>	
						<div class="col-md-4 marketing places-index-img" >

					<%= link_to region.name, region %>

					<% if user_signed_in? && current_user.admin? %>
					<%= link_to 'Edit', edit_region_path(region) %>
					<%= link_to 'Destroy', region, method: :delete %>
					<% end %>
					</div>
				<% end %>
		</div>
	</div>
</div>