

<h2><%= @region.name %></h2>

<%# @region.places.each do |place| %>
  <div><%# link_to place.name, place %></div>
<%# end %>

<%# if user_signed_in? && current_user.admin? %>
<p>
  <%= link_to 'Edit', edit_region_path(@region) %> |
  <%= link_to 'Destroy', @region, method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
<%# end %>