<%= link_to 'Add Attraction', new_attraction_path %>

<p>
<% @attraction.each do |attraction|  %>
<div id="list_items">
<%= link_to attraction.attraction_name, attraction  %>

<%= link_to 'Edit', edit_attraction_path(attraction) %>
</div>
<% end %>
</p>