
    <h2><%= @attraction.attraction %></h2>
  

      <% @attraction.activities.each do |activity| %>
          <div><%= link_to activity.name, activity %></div>
      <% end -%>

<% if user_signed_in? && current_user.admin? %>
  <p><%= link_to 'Edit', edit_artist_path(@attraction) %> |
  <%= link_to 'Destroy', @attraction, method: :delete, data: {confirm: 'Are you sure?'} %></p>
<% end %>